<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[title]</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/font/iconfont.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>
<header>
    <div class="head">
        {switch name="catgory"}
        {case value='index'}
            <a href="{:url('index/index')}" class="active" >首页</a>
            <a href="{:url('note/index')}">笔记</a>
            <a href="{:url('jottings/index')}">杂记</a>
            <a href="{:url('leaveword/index')}">留言</a>
            <a href="{:url('write/index')}">写入</a>
        {/case}
        {case value='note'}
            <a href="{:url('index/index')}">首页</a>
            <a href="{:url('note/index')}" class="active" >笔记</a>
            <a href="{:url('jottings/index')}">杂记</a>
            <a href="{:url('leaveword/index')}">留言</a>
            <a href="{:url('write/index')}">写入</a>
        {/case}
        {case value='jottings'}
            <a href="{:url('index/index')}">首页</a>
            <a href="{:url('note/index')}">笔记</a>
            <a href="{:url('jottings/index')}" class="active" >杂记</a>
            <a href="{:url('leaveword/index')}">留言</a>
            <a href="{:url('write/index')}">写入</a>
        {/case}
        {case value='leaveword'}
            <a href="{:url('index/index')}">首页</a>
            <a href="{:url('note/index')}">笔记</a>
            <a href="{:url('jottings/index')}">杂记</a>
            <a href="{:url('leaveword/index')}" class="active" >留言</a>
            <a href="{:url('write/index')}">写入</a>
        {/case}
        {case value='write'}
            <a href="{:url('index/index')}">首页</a>
            <a href="{:url('note/index')}">笔记</a>
            <a href="{:url('jottings/index')}">杂记</a>
            <a href="{:url('leaveword/index')}">留言</a>
            <a href="{:url('write/index')}" class="active" >写入</a>
        {/case}
        {/switch}
    </div>
</header>
<main>