</main>
<footer>
    <div>
        非商业-个人开发
    </div>
    备案号：晋ICP备17004757号-1
</footer>
<script>
    var ch=window.innerHeight;
    var jh=$("header").height()+$("footer").height();
    var yh=$("main").height();
    if((jh+yh)>ch){
        $("footer").css("position","static");
    }
    window.onresize = function(){
        var ch=window.innerHeight;
        var jh=$("nav").height()+$("header").height()+$("footer").height();
        $("main").css("min-height",(ch-jh)+"px");
    };
    $(function(){
        //回车搜索
        $("#search").keydown(function(event){
            event=document.all?window.event:event;
            if((event.keyCode || event.which)==13){
                $.get("{:url('search/select')}",{ search:$("#search").val()},function(data){
                    console.log(data);
                    if(data){
                    	location.href="{:url('search/index')}?result="+data;
                    }
                })
            }
        });
    })
</script>
</body>
</html>